accesos_por_tecnologia.csv
accesos_tecnologia.csv
accesos_tecnologia_localidad.csv
ingresos.csv
penetracion_hogares.csv
penetracion_poblacion.csv
penetracion_totales.csv
testfile.txt
totales_acceso_velocidad.csv
totales_accesos_tecnologia.csv
